Repository knative/build, pull requests merged in 2019-06, with the labels that each got.

#616 Use controller.HandleAll
  pkg/reconciler/build/build.go
  pkg/reconciler/buildtemplate/buildtemplate.go
  pkg/reconciler/clusterbuildtemplate/clusterbuildtemplate.go
Labels: approved, lgtm, size/M

#620 Update github.com/knative/test-infra dependency
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/README.md
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
  vendor/github.com/knative/test-infra/tools/dep-collector/README.md
Labels: approved, lgtm, ok-to-test, size/L

#621 Update github.com/knative/pkg dependency
  Gopkg.lock
  vendor/github.com/knative/pkg/Gopkg.lock
  vendor/github.com/knative/pkg/kmeta/names.go
  vendor/github.com/knative/pkg/test/helpers/name.go
  vendor/github.com/knative/pkg/test/logstream/doc.go
  vendor/github.com/knative/pkg/test/logstream/interface.go
  vendor/github.com/knative/pkg/test/logstream/kubelogs.go
  vendor/github.com/knative/pkg/test/logstream/null.go
  vendor/github.com/knative/pkg/test/request.go
Labels: approved, lgtm, ok-to-test, size/L

#626 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
Labels: approved, lgtm, ok-to-test, size/S

#627 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/pkg/Gopkg.lock
  vendor/github.com/knative/pkg/configmap/store.go
  vendor/github.com/knative/pkg/configmap/testing/configmap.go
  vendor/github.com/knative/pkg/injection/informers/kubeinformers/rbacv1/role/fake/fake.go
  vendor/github.com/knative/pkg/injection/informers/kubeinformers/rbacv1/role/role.go
  vendor/github.com/knative/pkg/metrics/gcp_metadata.go
  vendor/github.com/knative/pkg/test/logstream/kubelogs.go
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
  vendor/github.com/knative/test-infra/scripts/library.sh
Labels: approved, lgtm, ok-to-test, size/L

#628 Updating pkg to latest for 0.7 release.
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/knative/pkg/Gopkg.lock
Labels: approved, lgtm, size/S

#629 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/new-and-episodic-pr-contributors.json
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/new-contributors-table.json
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/prs-authors-companies-histogram.json
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/prs-authors-histogram.json
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/prs-authors.json
  vendor/github.com/knative/test-infra/devstats/metrics/shared/episodic_contributors.sql
  vendor/github.com/knative/test-infra/devstats/metrics/shared/hist_pr_authors.sql
  vendor/github.com/knative/test-infra/devstats/metrics/shared/new_contributors.sql
  vendor/github.com/knative/test-infra/devstats/metrics/shared/new_contributors_data.sql
  vendor/github.com/knative/test-infra/devstats/metrics/shared/prs_authors.sql
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
Labels: approved, lgtm, ok-to-test, size/XXL

#630 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
Labels: approved, lgtm, ok-to-test, size/S

#631 Update README to note deprecation proposal
  README.md
Labels: approved, lgtm, size/XS

#632 Format markdown
  README.md
Labels: approved, lgtm, ok-to-test, size/S

#633 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
  vendor/github.com/knative/test-infra/scripts/release.sh
Labels: approved, lgtm, ok-to-test, size/S
