Repository knative/build, pull requests merged in 2019-07, with the labels that each got.

#638 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/library.sh
Labels: approved, lgtm, ok-to-test, size/XS

#646 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
Labels: approved, lgtm, ok-to-test, size/XS

#647 Remove Erik and Nikhil from Productivity Reviewers
  OWNERS_ALIASES
Labels: approved, lgtm, size/XS

#648 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/release.sh
Labels: approved, lgtm, ok-to-test, size/M

#649 YAMLS_TO_PUBLISH is deprecated, use ARTIFACTS_TO_PUBLISH
  hack/release.sh
Labels: approved, area/test-and-release, lgtm, size/XS

#650 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
Labels: approved, lgtm, ok-to-test, size/L

#652 Point release documentation to knative/test-infra
  hack/release.md
  hack/release.sh
Labels: approved, area/test-and-release, lgtm, size/M

#653 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
Labels: approved, lgtm, ok-to-test, size/S

#654 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/README.md
  vendor/github.com/knative/test-infra/scripts/library.sh
Labels: approved, lgtm, ok-to-test, size/S
